
<div class="home-banner">
  <h1>Daily Coffee</h1>
  <p>
  <span id="banner-typed-text"></span>
</p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 6 %>
    </div>
  </div>
</div>

<div class ="card-container">
    <div class="card" style="width: 18rem;">
     <img src="https://images.unsplash.com/photo-1494314671902-399b18174975?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Black Coffee</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
</div>

<div class="card" style="width: 18rem;">
     <img src="https://images.unsplash.com/photo-1497636577773-f1231844b336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Flat White</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
</div>

<div class="card" style="width: 18rem;">
     <img src="https://images.unsplash.com/photo-1517701550927-30cf4ba1dba5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU3fHxjb2ZmZWV8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" class="card-img-top" alt="...">
      <div class="card-body">
    <h5 class="card-title">Cafe latte</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
</div>
</div>
